{% extends './base.html' %}

{% block title %} Edición de Usuario {% endblock title %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4"> <!-- offset: espacio izquierda y derecha-->
        <h2>Edición de Usuario</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarUsuario/" method="POST">{% csrf_token %}
                    <div style="padding: 4px;" class="form-group">
                        <input type="tel" id="numDNI" name="numDNI" value="{{usuario.dni}}" class="form-control" placeholder="12345678" size= 8 pattern="[0-9]{8}" readonly required>
                    </div>
                    <div style="padding: 4px;" class="form-group">
                        <input type="text" id="txtNombres" name="txtNombres" value="{{usuario.nombres}}" class="form-control" placeholder="Nombres" maxlength="50" required>
                    </div>
                    <div style="padding: 4px;" class="form-group">
                        <input type="text" id="txtApellidos" name="txtApellidos" value="{{usuario.apellidos}}" class="form-control" placeholder="Apellidos" maxlength="50" required>
                    </div>
                    <div style="padding: 4px;" class="form-group">
                        <input type="text" id="txtContraseña" name="txtContraseña" value="{{usuario.contraseña}}" class="form-control" placeholder="Contraseña" maxlength="50" required>
                    </div>
                    <div style="padding: 4px;" class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}